body {
  background-color: #fff8dc;
}

header {
  height: 60px;
  font-size: 22px;
  font-weight: bold;
}

.header-logo:hover {
  opacity: 0.7;
}

.a-none {
  text-decoration: none;
  color: black;
}

.a-none:hover {
  color: black;
  text-decoration: none;
}

.search-side {
  position: fixed;
  top: 0;
  right: -30%;
  height: 100vh;
  width: 20vw;
  background-color: #f1f1f1;
}

.search-side-content {
  position: relative;
  height: 100%;
}

.search-side-content .close {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%,-50%);
  font-size: 50px;
}

.search-side-content .close:hover {
  opacity: 0.7;
  cursor: pointer;
}

.search-side .title {
  border-bottom: 3px solid #f0e68c;
}

.search-side .group-item {
  font-size: 16px;
  font-weight: bold;
}

.search-side .group-item input {
  display: inline-block;
  height: 16px;
  width: 16px; 
}

.search-side .group-item input:hover, .search-side .group-item label:hover {
  cursor: pointer;
  font-weight: normal;
}

.search-side .group-item label {
  margin-left: 10px;
}

.group-set {
  border-bottom: 3px solid #f0e68c;
}

.other-set label input {
  display: inline-block;
  margin-right: 10px;
}

.other-set label:hover, .other-set label input:hover {
  cursor: pointer;
  font-weight: bold;
}

.scroll-btn {
  height: 80px;
  width: 80px;
  position: fixed;
  bottom: 2%;
  right: 2%;
  border-radius: 10px;
  font-size: 30px;
  background-color: #84ffc1;
}

.scroll-btn:hover {
  cursor: pointer;
  color: white;
}

/* 動画エリア */
.movie-area {
  background-color: #ffffc6;
}

/* 「好き」と「好き一覧」ボタン */
.like-btn, .like-index-btn {
  width: 150px;
  border-radius: 10px;
}

.like-btn:hover {
  background-color: #fff;
  color: #17a2b8;
}

.like-index-btn:hover {
  background-color: #212529;
  color: #ffc107;
}

.movie-title-description {
  overflow: scroll;
}

/* 「登録/ログイン」ボタン押下時に表示されるモーダル */
.register-login-modal {
  position: fixed;
  top: -100%;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  opacity: 0.5;
}

.register-login-modal-content {
  position: fixed;
  top: -50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  height: 50vh;
  width: 20vw;
}

.register-login-modal-content .close {
  position: absolute;
  top: -10%;
  right: -8%;
  font-size: 80px;
}

.register-login-modal-content .close:hover {
  opacity: 0.5;
  cursor: pointer;
}

.register-login-modal-content .content {
  height: 90%;
  width: 80%;
}

.register-login-modal-content .content .title {
  height: 30%;
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
}

.register-login-modal-content .content .logo {
  height: 40%;
  font-size: 120px;
}

.register-login-modal-content .content .button {
  height: 30%;
  font-weight: bold;
}

.register-login-modal-content .content .button a {
  border-radius: 20px;
}

footer {
  height: 30px;
  background-color: #f5f5f5;
}