version: 2.1
jobs:
  build:
    docker:
      - image: circleci/php:7.3-node-browsers
    steps:
      - checkout
      - run: composer install -n --prefer-dist
      # - run:
      #     name: php test
      #     command: ./vendor/bin/phpunit